/*******************************/
/* global document body styles */
/*******************************/

body {
        font: 12pt Arial, Helvetica, sans-serif;
     padding: 0;
      margin: 0;
  background: url(images/paving.jpg);
}

/**************************/
/* unique id-based styles */
/**************************/

#breakout {
  position: relative;
}

#canvas {
  -webkit-transform: translateZ(0); /* force hardware acceleration in chrome */
}

#levels {
     position: absolute;
         left: 10px;
          top: 10px;
        color: #666;
  line-height: 20px;
}

#levels #next  { position: absolute;            }
#levels #prev  { position: absolute; top: 14px; }
#levels #label { padding-left: 20px; }
#levels #level { font-size: 14pt; padding-left: 5px; font-weight: bold; color: black; }

#levels img                 { cursor: pointer; }
#levels img.disabled        { opacity: 0.3; cursor: default; }
#levels img:active          { margin-top: 1px; margin-left: 1px; }
#levels img.disabled:active { margin-top: 0; margin-left: 0; }

#instructions {
  background: #FFFF;
      border: 2px solid #333;
       color: #555;
     padding: 0.5em 1em;
 white-space: nowrap;
  text-align: center;
       width: 18em;
      margin: 0 auto;
    position: relative;
         top: -16em;
 font-family: Montserrat
}
#instructions b { color: black; }

#instructions       .keyboard { display: block; }
#instructions       .touch    { display: none;  }
#instructions.touch .keyboard { display: none;  }
#instructions.touch .touch    { display: block; }

#controls {
  position: absolute;
    bottom: 0.5em;
      left: 0.5em;
}
#controls input,
#controls label { vertical-align: middle; }

/********************************/
/* re-usable class-based styles */
/********************************/

.unsupported {
            border: 1px solid yellow;
             color: black;
  background-color: #FFFFAD;
           padding: 2em;
            margin: 5em;
           display: inline-block;
}

/*****************************/
/* @media query based layout */
/*****************************/

@media screen and (min-width: 0px) {
  #breakout     { display: block; width: 640px; height: 480px; margin: 1em auto; border: 1px solid #AAA; }
  #canvas       { display: block; width: 640px; height: 480px; }
  #instructions { font-size: 8pt; }
}

@media screen and (min-width: 1200px) {
  #breakout     { width: 800px; height: 600px; }
  #canvas       { width: 800px; height: 600px; }
  #instructions { font-size: 10pt; }
}

@media screen and (min-width: 1600px) {
  #breakout     { width: 1024px; height: 768px; }
  #canvas       { width: 1024px; height: 768px; }
  #instructions { font-size: 11pt; }
}

/**************************/
/* Form Styles            */
/**************************/

{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  font-family: 'Montserrat'
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
